.container {
    margin-left: 2.5%;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.input {
    padding: 20px;
    outline: none;
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 95%;
}

.input::placeholder {
    font-size: 16px;
    font-weight: normal;
}

.create-button {
    background-color: #1877f2;
    padding: 15px;
    outline: none;
    border: none;
    border-radius: 7px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    cursor: pointer;
    width: 95%;
}

.cancel-button {
    background-color: #a9b4c2;
    padding: 15px;
    outline: none;
    border: none;
    border-radius: 7px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    cursor: pointer;
    width: 95%;
}
